@model List<User>
<h1> Users </h1>
<div class="mx-auto w-50 align-content-md-center p-2">

    <button type="button" class="btn btn-success d-inline-block  mx-5 w-75 mt-2" onclick="location.href='@Url.Action("addUser", "Privlliages" )'">New User </button>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
           
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@string.Join(" ",await ViewBag.userManager.GetRolesAsync(user))</td>
                <td>
                    <a asp-controller="Privlliages" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a asp-controller="Privlliages" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
          
        }
        
    </tbody>
</table>
